<!DOCTYPE html>
<html>
<head>
  <title>TzMagic</title>
  <%= stylesheet_link_tag    "tz_magic/application", :media => "all" %>
  <%= javascript_include_tag "tz_magic/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
